/* All Views */

* {
  font-family: 'Dosis', sans-serif;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgb(255, 204, 153);
}

h1 {
  transition: all .2s ease-in-out;
}

h1:hover {
  transform: scale(1.35);
  color: rgb(230, 115, 0);
}

/* splash-template */

.splash h1 {
  font-family: 'Nova Cut', cursive;
  font-size: 10vw;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.buttons button {
  width: 45%;
  height: 7vw;
  font-size: 4vw;
}

#splashImg {
  width: 100%;
  padding: 5vw;
}

#splashImg img {
  width: 100%;
}

/* create-template */

.instruction {
  text-decoration: underline;
}

.info {
  color: red;
}

.create button {
  width: 35%;
  height: 7vw;
  font-size: 3vw;
  margin-top: 5vw;
}

.player-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#playersWaiting {
  padding: 3vw;
}

/* join-template */

.player-info div {
  text-align: center;
  width: 30%;
  margin: 2vw;
}

.player-info div input {
  width: 80%;
  height: 5vh;
  margin: 1vw;
  font-size: 3vw;
}

.join button {
  width: 35%;
  height: 7vw;
  font-size: 3vw;
  margin-top: 5vw;
}

#waitMsg {
  padding: 3vw;
}

/* game-template */

.game {
  padding: 5vw;
}

.scores {
  width: 70%;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* answer-template */

.answers {
  width: 80%;
  text-align: center;
}

.answers input {
  width: 40vw;
  height: 8vw;
  font-size: 3vw;
  margin: 1vw;
  border-style: inset;
  border-width: thick;
  border-color: green;
}

.answers button {
  width: 40vw;
  height: 8vw;
  font-size: 3vw;
  margin: 1vw;
}

#tryAgain {
  display: none;
}
